<hr>

# Emendatus Enigmatica Validation Results
Emendatus Enigmatica version: 1.21.1-2.2.0-alpha-1<br>
File generated at: 22-01-2025 14:23:47.181<br>
<hr>

## Strata
All files were parsed and registered successfully!<br>
## Materials
All files were parsed and registered successfully!<br>
## Compatibility
All files were parsed and registered successfully!<br>
## Deposits
All files were parsed and registered successfully!<br>
## Additional Information
### Performance
<table><tr><td>Scanning and registration of addons</td><td>0.034s</td></tr><tr><td>Loading and parsing JSON Files</td><td>0.027s</td></tr><tr><td>Validation: Strata</td><td>0.000s</td></tr><tr><td>Validation: Material</td><td>0.000s</td></tr><tr><td>Validation: Compat</td><td>0.000s</td></tr><tr><td>Validation: Deposits</td><td>0.029s</td></tr><tr><td>Data Generation</td><td>0.141s</td></tr><tr><td>Validation: Registry</td><td>0.002s</td></tr><tr><td>Generation of Analytics Summary</td><td>0.011s</td></tr></table>


> You can disable the generation of this summary and speed up the validation in the configuration file!

